body {
  margin: 0;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-align: left;
}
/*NAVBAR*/
header {
  width: 100%;
  background-color: whitesmoke;
  text-align: right;
}
header ul {
  margin-right: auto;
  display: inline-block;
  list-style-type: none;
  padding-right: 1.5%;
  margin-top: 0;
  margin-bottom: 0;
}
header li {
  float: left;
  font-family: monospace;
  font-size: large;
  padding: 15px;
}
header p {
  display: inline-block;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.logo {
  width: 23%;
  text-align: left;
  float: left;
}
.logo img {
  width: 120px;
  margin-left: 0px;
  margin-top: 8px;
  padding-left: 14%;
}

/*HERO*/
.heroImg {
  height: 600px;
  padding: 25px;
}
.content {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}

.content img {
  height: 300px;
}
.content button {
  background-color: #E8ABCD;
  padding: 3%;
  font-size: larger;
  border-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-weight: bold;
}

/*FOOTER*/
footer {
  background-color: whitesmoke;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
footer ul {
  align-self: auto;
  display: inline-block;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
footer li {
  float: left;
  padding: 15px;
  font-family: monospace;
  font-size: large;
}
